.App {
  padding-top: 36px;
  padding: 20px;
  text-align: center;
}

.SearchFormWrapper{
  display: flex;
  justify-content: center;
}

.MoviesList{
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  text-align: center;
}

.MoviesList-item{
  padding: 16px;
  margin-bottom: 24px;
  width: 300px;
}

.center{
  text-align: center;
}


.image2{
  width: auto;
  max-width:100%;
  height:auto;
}

.outer{
  white-space: nowrap;
}

.imageContainer{
  display: inline-block;
  vertical-align:top;
}

.textContainer{
  padding: 20px;
  white-space: normal;
  text-align: justify;
  text-overflow: clip;
  display: inline-block;
  vertical-align:top;
}